// PASO EN PASO
.paso-content {
  flex: 8 8 80%;
  font-family: 'Source Code Pro', monospace;
  margin-right: 1rem;
  align-items: center;
}
.paso-content .indent-me {
  visibility: hidden;
}

.paso-content .cancel-button {
  color: #6b6b6b;
  width: 25px;
  height: 25px;
  position: relative;
  top: 25px;
  right: 15px;
}

.paso-content .cancel-button:hover {
  color: red;
}

// paso type estilos!
.paso-type {
  flex: 1 1 24px;
  font-size: 0.8rem;
  margin-right: 6px;
  cursor: point;
}
.paso-content-text {
  margin-top: 4px;
  border: none!important;
  margin-right: 1rem !important;
  overflow: hidden;
}
.paso-content-text:focus {
  max-height: calc(70vh - 8rem)
}
// paso type terminal
.terminal .paso-type {
  color: red;
  position: relative;
  top: -5px;
}
.terminal .paso-content-text {
  background: #F9F9F9;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  color: red;
  padding: 8px;
}
.titulo .paso-content-text {
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: underline;
  color: #8A4E2A;
}
// paso type go to
.go-to .paso-type {
  color: #4F3AD6;
}
.go-to .paso-content-text {
  color: #4F3AD6;
  font-weight: 400;
}
// paso type paragraph
.paragraph .paso-content-text {
  text-align: justify;
}
// paso type code
.codigo .paso-content-text {
  background: #F9F9F9;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  padding: 8px;
}
// paso type tutorial link
.link-tuto .paso-type {
  color: #0457A6;
}
.link-tuto .paso-content-text {
  background: rgba(4,87,166,0.3);
  border: 1px solid #0457A6 !important;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  padding: 8px;
  color: #0457A6;
  font-weight: 600;
}
// paso type video
.link-video {
  flex-direction: column;
  flex-wrap: wrap !important;
}
.video-link {
  flex: 1 1 100%;
}
.link-video .paso-content-text {
  text-align: center;
  height: 1.5rem !important;
  color: #0457A6;
}
.link-video .botones-container {
  width: 150px;
}
// paso type image
.link-image, .download {
  flex-direction: column;
}
.image-link {
  max-width: 90%;
  max-height: 30rem;
  border: 1px solid #723025;
  border-radius: 1rem;
}
.link-image .paso-content, .download .paso-content {
  width: 70%;
}
.link-image .paso-content-text, .download .paso-content-text {
  height: 1.5rem !important;
  color: #723025;
}
.link-image .botones-container, .download .botones-container{
  width: 150px;
}


// EDIT PASO IN PASO
.paso-option-container {
  // border: 2px solid #ccc;
}

@media all and (max-width: 800px) {
}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
