// PASO OPTION COMPONENT (THE OPTIONS)
.paso-option-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}
.paso-option-botones-form {
  flex: 1 1 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  padding: 1.3rem 0.8rem;
  background: #ECEFF1;
}
.paso-option-botones-form i {
  flex: 1;
  text-align: center;
}
.paso-option-botones-form .elegida {
  color: red;
}
.paso-option-botones-form i {
  color: #767A86;
}
.paso-option-botones-form .listo {
  color: green;
}
.paso-option-botones-form .pues-no {
  color: red;
}
.paso-option-botones-form i:hover {
  color: #9DD0FF;
}

@media all and (max-width: 800px) {

}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
