// GENERAL
.proyectos-section {
  height: 70vh;
  overflow-y: scroll;
}
.proyectos-section .fa {
  font-size: 1.2rem;
}

// PROYECTOS
.proyecto-unidad {
  padding: 1rem;
  background-color: #fff;
  margin: 0.6rem 3rem;
  border: 1px solid #7b7b7b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  // align-content: space-between;
}
.principal {
  cursor: pointer;
}
// add stuff
.proyectos-section .tarjeta {
  margin: 0 3rem;
  margin-bottom: 1rem;
  border: 1px solid #767A86;
}
// edit stuff
.name-edit-form {
  display: flex;
  align-items: center;
}
.name-edit-form select {
  margin-right: 5px;
}
.name-edit-form .browser-default {
  height: 2rem;
}
.name-edit {
  border-bottom: none !important;
  font-size: 2rem !important;
  font-weight: 100 !important;
  margin: 0 !important;
  height: 2rem !important;
  text-align: center;
  border-bottom: 1px dashed red !important;
}
.select-topic {
  width: 100px;
}
.select-difficulty {
  width: 100px;
}

// PROYECTO
// children
.proyecto-unidad h4 {
  font-size: 2rem;
  margin: 0 !important;
}
.proyecto-unidad .titulo-nombre {
  flex: 8 8 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.proyecto-unidad .container-logos {
  flex: 2 2 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botones-container {
  flex: 2 2 20%;
  display: flex;
  flex-direction: column;
  height: 1.5rem;
  // align-content: center;
  // justify-content: space-between;
}

.botones-form {
  flex: 1 1 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #7b7b7b;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
}

.botones-form i {
  flex: 1;
  text-align: center;
}

.botones {
  flex: 2 2 20%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  padding: 1rem;
  // background: blue;
  border-radius: 1rem;
  border: 1px solid #7b7b7b;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.botones i {
  flex: 1;
  text-align: center;
}

.btn-icon:hover {
  color: #9DD0FF;
}
.hide-buttons {
  display: none;
}
// cambio color cuando se dice que es importante
.basic {
  // border: 1px solid green;
  background-color: #8E864B;
}
.medium {
  // border: 1px solid orange;
  background-color: #ff6d00;
}
.advanced {
  // border: 1px solid red;
  background-color: #F33745;
}
.sayayin {
  // border: 1px solid brown;
  background-color: #723025;
}
// los logos
.cont-log {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-size: 32px;
}
// javascript logos
.container-logos .javascript {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .vanella {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .es6 {
  background-image: url(asset_path("thumb_es6.png"));
}
.container-logos .react {
  background-image: url(asset_path("thumb_react.png"));
}
.container-logos .redux {
  background-image: url(asset_path("thumb_redux.png"));
}
.container-logos .json {
  background-image: url(asset_path("thumb_json.png"));
}
// ruby on rails
.container-logos .ruby {
  background-image: url(asset_path("thumb_ruby.png"));
}
.container-logos .rails {
  background-image: url(asset_path("thumb_rails.png"));
}

.container-logos .adobe {
  background-image: url(asset_path("thumb_adobe.png"));
}
.container-logos .photoshop {
  background-image: url(asset_path("thumb_photoshop.jpg"));
}
.container-logos .illustrator {
  background-image: url(asset_path("thumb_illustrator.png"));
}
.container-logos .indesign {
  background-image: url(asset_path("thumb_indesign.png"));
}
.container-logos .afterfx {
  background-image: url(asset_path("thumb_afterfx.png"));
}
// git
.container-logos .git {
  background-image: url(asset_path("thumb_git.png"));
}
.container-logos .github {
  background-image: url(asset_path("thumb_github.png"));
}
// server
.container-logos .server {
  background-image: url(asset_path("thumb_server.png"));
}
.container-logos .digital_ocean {
  background-image: url(asset_path("thumb_digital_ocean.png"));
}
.container-logos .cloudinary {
  background-image: url(asset_path("thumb_cloudinary.png"));
}
.container-logos .nginx {
  background-image: url(asset_path("thumb_nginx.png"));
}
.container-logos .passenger {
  background-image: url(asset_path("thumb_passenger.png"));
}
.container-logos .postgresql {
  background-image: url(asset_path("thumb_postgresql.png"));
}
//sql
.container-logos .sql {
  background-image: url(asset_path("thumb_sql.png"));
}
// tridimax
.container-logos .tridimax {
  background-image: url(asset_path("thumb_tridimax.png"));
}
.container-logos .mental {
  background-image: url(asset_path("thumb_mental.png"));
}
.container-logos .vray {
  background-image: url(asset_path("thumb_vray.png"));
}
.container-logos .modeling {
  background-image: url(asset_path("thumb_modeling.png"));
}
.container-logos .texturing {
  background-image: url(asset_path("thumb_texturing.png"));
}
.container-logos .lighting {
  background-image: url(asset_path("thumb_lighting.png"));
}
.container-logos .animation {
  background-image: url(asset_path("thumb_animation.png"));
}
.container-logos .rigging {
  background-image: url(asset_path("thumb_rigging.png"));
}
.container-logos .post_production {
  background-image: url(asset_path("thumb_post_production.png"));
}
// zbrush
.container-logos .zbrush {
  background-image: url(asset_path("thumb_zbrush.png"));
}
// literatura
.container-logos .literatura {
  background-image: url(asset_path("thumb_literatura.png"));
}
.container-logos .gramatica {
  background-image: url(asset_path("thumb_gramatica.png"));
}
.container-logos .estilo {
  background-image: url(asset_path("thumb_estilo.png"));
}
.container-logos .tecnicas_narrativas {
  background-image: url(asset_path("thumb_tecnicas_narrativas.png"));
}
// otros
.container-logos .final_cut {
  background-image: url(asset_path("thumb_final_cut.png"));
}
.container-logos .html {
  background-image: url(asset_path("thumb_html.png"));
}
.container-logos .css {
  background-image: url(asset_path("thumb_css.png"));
}

// PASOS
.paso-container {
  margin: 0 3rem;
  margin-bottom: 1rem;
  border: 1px solid #767A86;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  // background: #ccc;
}
.paso-content {
  flex: 8 8 80%;
  font-family: 'Source Code Pro', monospace;
}
.paso-content .indent-me {
  visibility: hidden;
}
.paso-container i {
  color: #767A86;
}
.paso-container i:hover {
  color: #9DD0FF;
}
// add paso form
.add-paso-form {
  padding-top: 1.5rem;
}
.paso-container textarea {
  border: none!important;
  margin-right: 1rem !important;
  min-height: auto;
  overflow: visible;
}
// estilo de los pasos
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    transition: .28s ease;
    -khtml-user-select: none;
    user-select: none;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #FF6949 !important;
    border: 2px solid #723025;
}

.btns-radial-procom {
  margin-top: 10px;
  // z-index: 100;
}
.edit-btns-estilo {
  margin-top: 10px;
  padding: 6px;
  border: 1px solid #7b7b7b;
  border-radius: 1rem;
  background: #ccc;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  z-index: 100;
}
.edit-btns-estilo label {
  color: #7b7b7b;
}
.btns-estilo {
  margin-left: 2rem;
}

.btns-estilo label {
  margin-right: 1.3rem;
  color: #7b7b7b;
}

.full-code {
  background: #fff;
}
.codigo {
  background: #fff;
}
.terminal {
  background: #fff;
}
.go-to {
  background: #fff;
}
.shortcut {
  background: #fff;
}

// PROCOMS
.procom-container {
  margin: 1rem 3rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed #767A86;
  // border-radius: 1rem;
  padding: 1rem;
  display: flex;
  // background: rgba(0,0,0,0.1);
}
.procom-content {
  flex: 8 8 80%;

}
.procom-content p {
  margin: 0;
  text-align: center;
  position: relative;
  top: -1rem;
  color: #7b7b7b;

}
.procom-container i {
  color: #767A86;
}
.procom-container i:hover {
  color: #9DD0FF;
}
.problema p {
  color: #F33745;
}
.comentario p {
  color: #8E864B;
}
.problema .botones {
  background: rgba(243,55,69,0.4);
}
.comentario .botones {
  background: rgba(142,134,75,0.4);
}
.procom-container textarea {
  // border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  // border-radius: 1rem;
  border: none;
  // padding-left: 10px;
  margin-right: 10px;
}
.nothing-flash {
  text-align: center;
}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
