// GENERAL
.proyectos-section {
  height: calc(100vh - 10rem);
  overflow-y: scroll;
}
.proyectos-section .fa {
  font-size: 1.2rem;
}
.descripciones-container .modalize {
  margin-left: 2rem;
  font-size: 2rem;
}
.modalize:hover {
  color: #9DD0FF;
  font-size: 2.3rem;
}

// PROYECTOS
.proyecto-full {
  width: 100vw;
  height: 100vh;
  z-index: 2500;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  overflow-x: hidden;
}
.proyecto-full .proyecto-unidad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.proyecto-unidad {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #7b7b7b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
}
.principal {
  cursor: pointer;
}

// add stuff
// to override a style in descriptions
.admin-title .proyectos-title {
  flex: 3 3 30%;
}

.proyectos-section .tarjeta {
  margin: 0 3rem;
  margin-bottom: 1rem;
  border: 1px solid #767A86;
}
// edit stuff
.name-edit-form {
  display: flex;
  align-items: center;
}
.name-edit-form select {
  margin-right: 5px;
}
.name-edit-form .browser-default {
  height: 2rem;
}
.name-edit {
  border-bottom: none !important;
  font-size: 2rem !important;
  font-weight: 100 !important;
  margin: 0 !important;
  height: 2rem !important;
  text-align: center;
  border-bottom: 1px dashed red !important;
}
.select-topic {
  width: 100px;
}
.select-difficulty {
  width: 100px;
}

@media all and (max-width: 800px) {
  .proyectos-section {
    height: calc(100vh - 7rem);
  }
  .descripciones-container {
    padding: 0;
  }
  .titulo-nombre h4 {
    font-size: 1rem;
  }
  .name-edit-form {
    flex-wrap: wrap;
  }
  .name-edit {
    margin-top: 10px !important;
    font-size: 1.2rem !important;
  }
  select.browser-default {
    width: 80px;
  }
}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
