// main distribution
.admin-container {
  width: 100%;
  height: calc(100vh - 4.5rem);
  // background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.admin-dashboard-container {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 20%;
          flex: 2 2 20%;
  -webkit-box-shadow: 3px 0 3px rgba(0,0,0,0.3);
          box-shadow: 3px 0 3px rgba(0,0,0,0.3);
}
.admin-main-container {
  -webkit-box-flex: 8;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
}
@media all and (max-width: 800px) {
  .admin-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .admin-main-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: calc(90vh - 63px);
    overflow: hidden;
  }
  .admin-title {
    height: 7rem !important;
  }
  .admin-dashboard-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 10vh;
    position: absolute;
    bottom: 0px;
    z-index: 300;
  }

  .admin-dash-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    // padding: 0 2rem;
  }
  .admin-btn {
    width: 120px;
    margin: 1rem 0.5rem;
  }
}

// dashboard

// dashboard buttons
.admin-btn {
  text-decoration: none;
  color: #2b2b2b;
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
          box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.admin-btn span {
  font-size: 1.2rem;
  font-weight: 100;
}
.admin-btn:hover {
  background-color: rgba(0,0,0,0.7);
  border: 1px solid #ccc;
}
.admin-btn:hover span {
  color: #fff;
  font-weight: 300;
}
