@import 'materialize';
@import 'slider';
@import 'navbar';
@import 'dashboard';
@import 'home';
@import 'picture';
@import 'logos';


// ========================
// Gama Colores
// ========================
// #ff6d00 anaranjado
// #fff blanco
// #000 negro
// #6b6b6b gris
// #8E864B verde
// #9DD0FF azulito


body {
  background-color: #fff;
  background-image: url(asset_path("background_02.png"));
  background-repeat: repeat;
  background-size: 4%;
}
