@import 'mixins'
@import 'common'
@import 'font-awesome'
@import 'carrusel'
@import 'navbar'
@import 'dashboard'
@import 'home'
@import 'contact'
@import 'picture'
@import 'logos'
@import 'trisixti'
@import 'translator'
@import 'calculator'
@import 'equilibrio'
@import 'admin'
@import 'descripcions'
@import 'ppt'
@import 'colorform'
@import 'proyectos_face'
@import 'proyectos_procom'
@import 'proyectos_proyecto'
@import 'pasos'
@import 'proyectos_paso_option'
@import 'proyectos'
@import 'deutsch'

/*
 *= require font-awesome
 */

// body
body
html
  font-size: 10px
  box-sizing: border-box
  font-family: $courier_new

body
  margin: 0
  font-family: $courier_new
  background-color: $background
.row
  margin-bottom: 0 !important
#app
  margin: 0
// fronts
h1, h2, h3, h4, h5, h6
  font-weight: 100

// form buttons
.btn
  background-color: $orangie
  color: $blancuzco
  font-weight: 100
  padding: auto 20px
  border-radius: 4px
  border: none
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
  margin: 5px 10px
.btn:hover
  background-color: $azul_cunita

.link
  color: $blancuzco
.btn-sign
  color: $orangie

// main introduction
.introduction
  padding: 30px
  font-weight: 100
  font-size: 3rem
  color: $gris_oscuro
  background: $azul_cunita_translucido
.bienvenido
  font-weight: 300
  color: $orangie

.super-container
  position: fixed
  margin-top: 80px
  top: 0
  right: 20px
  left: 20px
  bottom: 10px

.contact-container.super-container,
.super-container.sign-in-up,
.translate.super-container
  overflow-y: scroll

@media only screen and (max-width: 800px)
  .main-component
    // background-size: 10% !important

  .introduction
    padding: 15px
    font-size: 1.5rem


@media only screen and (min-width: 800px) and (max-width: 1280px)
  .main-component
    // background-size: 8% !important

  .introduction
    padding: 15px
    font-size: 1.5rem



