@import 'font-awesome';
@import 'carrusel';
@import 'navbar';
@import 'dashboard';
@import 'home';
@import 'picture';
@import 'logos';
@import 'trisixti';
@import 'translator';
@import 'calculator';
@import 'equilibrio';
@import 'admin';
@import 'descripcions';
@import 'ppt';
@import 'colorform';
@import 'proyectos_face';
@import 'proyectos_procom';
@import 'proyectos_proyecto';
@import 'pasos';
@import 'proyectos_paso_option';
@import 'proyectos';
@import 'proyectos';

/*
 *= require font-awesome
 */

// body
body {
  background-color: #f4f4f4;
  // background-image: url(asset_path("background_02.png"));
  // background-repeat: repeat;
  // background-size: 4%;
}
html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0
}
.row {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 800px) {
  .main-component {
    // background-size: 10% !important;
  }
  .intro {
    padding: 15px;
    font-size: 1.5rem;
    color: blue;
  }

}


@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .main-component {
    // background-size: 8% !important;
  }
  .intro {
    padding: 15px;
    font-size: 1.5rem;
  }
}

// fronts
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

// form buttons
.btn {
  background-color: #FF6949;
  color: #FDFFFD;
  font-weight: 100;
  padding: auto 20px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 5px 10px;
}
.btn:hover {
  background-color: #9DD0FF;
}

.btn-code {
  margin: 8px;
  max-width: 56px;
  background-color: #fff;
  color: #FF6949;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #FF6949;
}
.link {
  color: #FDFFFD;
}
.btn-sign {
  color: #FF6949;
}

// main introduction
.intro {
  padding: 30px;
  font-weight: 100;
  font-size: 3rem;
  color: #6b6b6b;
}
.bienvenido {
  font-weight: 300;
  color: #FF6949;
}
