// COLORS
$background: #f4f4f4;
$blancuzco: #FDFFFD;
$gris_oscuro: #555555;

//tutorials
$azul_cunita: #9DD0FF;
$problem: #C62B2B;
$comment: #8E864B;
$example: #A36E02;

// rock paper scissors
$brownie: #723025;
$orangie: #FF6949;
$azul_cunita_translucido: rgba(157, 208, 255, 0.7);

// FONTS

// all page
$courier_new: 'Courier New', Courier, monospace;
// tutorials
$monospace: 'Source Code Pro', monospace;
//navbar
$courier: Courier, monospace;