// COLORS
$background: #f4f4f4;

//tutorials
$azul_cunita: #9DD0FF;
$problem: #C62B2B;
$comment: #8E864B;
$example: #A36E02;

// rock paper scissors
$brownie: #723025;
$orangie: #FF6949;

// FONTS

// all page
$courier_new: 'Courier New', Courier, monospace;
// tutorials
$monospace: 'Source Code Pro', monospace;
//navbar
$courier: Courier, monospace;