.descripciones-container {
  padding: 0 2rem;
}
.admin-title {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.admin-title h1 {
  font-size: 2.5rem;
  -webkit-box-flex: 7;
      -ms-flex: 7 7 70%;
          flex: 7 7 70%;
  margin: 2rem 1rem;
  color: #8E864B
}
.admin-title .add-btn {
  -webkit-box-flex: 3;
      -ms-flex: 3 3 30%;
          flex: 3 3 30%;
  margin: 2rem 1rem;
  margin-left: 3rem;
}
.admin-title .search-input {
  height: 34px;
  margin: 2rem 1rem;
  -webkit-box-flex: 10;
      -ms-flex: 10 10 100%;
          flex: 10 10 100%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0,0,0,0.3);
          box-shadow: inset 3px 3px 3px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.7);
  padding-left: 1rem;
}
.description-cards {
  height: calc(100vh - 16rem);
  overflow-y: scroll;
  border-bottom: 3px solid rgba(0,0,0,0.3);
}

// tarjeta
.tarjeta {
  margin-bottom: 2rem;
  background: rgba(255,255,255,0.8);
  border: 2px solid #ccc;
  border-radius: 1rem;
}

.form-edit textarea {
  height: 6rem;
}

.tarjeta-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.tarjeta-content h3 {
  margin: 0;
  -webkit-box-flex: 7;
      -ms-flex: 7 7 70%;
          flex: 7 7 70%;
  font-size: 1.5rem;
}
.tarjeta-content h6 {
  margin: 0;
  -webkit-box-flex: 2;
      -ms-flex: 2 2 15%;
          flex: 2 2 15%;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tarjeta-content .campo {
  font-weight: 400;
}

.tarjeta-content .descripcion-contenido {
  margin: 0;
  margin-top: 1rem;
  -webkit-box-flex: 10;
      -ms-flex: 10 10 100%;
          flex: 10 10 100%;
  width: 100%;
}
.tarjeta-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  padding: 5px 20px;
  background: rgba(0,0,0,0.2);
  border-bottom-right-radius: calc(1rem - 2px);
  border-bottom-left-radius: calc(1rem - 2px);
}
.tarjeta-action i {
  margin-right: 10px;
}
// form edit
.form-edit .tarjeta-content{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
