body
  #deutsch,
  #world_subthemes
    margin-top: 100px
    padding: 0 30px
    @include flexbox()
    @include flex-wrap(wrap)
    .player_stats
      @include flex(0 0 100%)
    .world_theme,
    .world_subtheme
      width: 260px
      height: 200px
      margin: 10px
      // padding: 10px
      background: #fff
      border-radius: 10px
      @include box-shadow(0px, 0px, 6px, rgba(0,0,0,0.1))
      @include flexbox()
  #deutsch
    .world_theme
      text-decoration: none
      color: #fff
      font-size: 22px
      font-weight: bold
      font-family: Courier New
      span
        text-transform: capitalize
      .img_container
        @include flex(0 0 70%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        background: red
        background-position: center
        background-size: cover
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
      .data_container
        @include flex(0 0 30%)
        background: green
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px
    .familie,
    .korper,
    .essen,
    .einkaufen
      .img_container
        background-image:  url(asset_path("game/familie.jpg"))
