.equilibrio {
  padding: 10px 30px 30px 30px !important;
}
.equilibrio .titulo {
  height: 8.5rem;
}
.equilibrio .aside-izq {
  overflow-y: scroll;
  height: calc(100vh - 13rem);
}
.equilibrio .aside-der {
  overflow-y: scroll;
  height: calc(100vh - 13rem);
}
.add-fruta-form, .add-valor-kilo-form, .add-gasto-form, .add-rechazo-form {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.equiresult {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
