// Software icons
.logos {
  display: inline-flex;
}
.logos div {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.tridimax {
  background-image: url(asset_path("tridimax.png"));
}
.vray {
  background-image: url(asset_path("vray.png"));
}
.photoshop {
  background-image: url(asset_path("photoshop.jpg"));
}
.illustrator {
  background-image: url(asset_path("illustrator.png"));
}
// Collapsible Header Icons
.teapot {
  background-image: url(asset_path("teapot_silouete.svg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px !important;
  height: 40px !important;
}
.collapsible-header:hover .teapot {
  background-image: url(asset_path("teapot.png"));
}
.collapsible-header:focus .teapot {
  background-image: url(asset_path("teapot.png"));
}

.world {
  background-image: url(asset_path("world_silouete.svg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px !important;
  height: 40px !important;
}
.collapsible-header:hover .world {
  background-image: url(asset_path("world_icon.png"));
}

.bulb {
  background-image: url(asset_path("bombillo_icon.svg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 40px !important;
  height: 40px !important;
}
.collapsible-header:hover .bulb {
  background-image: url(asset_path("bombillo_icon_II.png"));
}
