body
  nav
    max-width: 600px
    color: #555555
    .main-nav
      position: fixed
      left: calc(20px + 2rem)
      right: 20px
      top: 20px
      max-width: 650px
    .main-nav,
    .main-nav-carousel
      display: flex
      flex-wrap: wrap
      font-size: 20px
      font-family: $courier
      padding: 12px
      justify-content: center
      align-items: center
      background: #ffffff
      border-radius: 8px
      .prev-next
        font-weight: 900
      .nav-bar-main,
      .nav-bar-main-carousel,
      .nav-bar-sub-carousel,
        display: flex
        padding: 6px 12px
        @include box-shadow(0, 0, 3px, rgba(0,0,0,0.3), true)
        flex: 8 8 84%
        margin: 0 12px
        overflow-y: hidden
        overflow-x: scroll
        scrollbar-width: none
        border-radius: 5px
        span
          padding: 0 12px
          border-right: 2px solid #555555
          cursor: grab
          white-space: nowrap
        a:last-child
          span
            border: none
        a
          text-decoration: none
          color: #555555
        a.active
          color: #8E864B
        &::-webkit-scrollbar
          display: none
      ::-webkit-scrollbar
        display: none

  .settings-menu
    background: #fff
    padding: 20px
    // border: 1px solid #ccc
    border-radius: 5px
    @include box-shadow(0px, 0px, 3px, rgba(0,0,0,0.3))

@media all and (max-width: 800px)
  body
    nav
      .main-nav
        left: 20px
@media all and (max-width: 460px)
  body
    nav
      .main-nav
        .nav-bar-main
          flex: 8 8 70%
