.paper-rock-scissors-container{
  // background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bienvenido {
  margin: 0.5rem 0;
}
.paper-rock-scissors-container h4 {
  margin: 0.5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #723025;
  width: 100%;
  text-align: center;
  padding: 0.4rem;
  border-bottom: 1px dashed #723025;
  border-top: 1px dashed #723025;
}

.resulting-stuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px dashed #723025;
  border-radius: 14px;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #FF6949;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
          box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
.resulting-stuff p {
  color: #723025;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  margin-right: 2rem;
}
.resulting-stuff p:last-child {
  margin-right: 0;
}
.resulting-stuff strong {
  font-size: 1.4rem;
  color: #000;
}

// rps container
.the-rps-container {
  width: 100%;
  height: 100px;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ppt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14%;
          flex: 1 1 14%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.rppt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14%;
          flex: 1 1 14%;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
.hand-choices {
  width: 100px;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.img-rock {
  background-image: url(asset_path("rock.png"));
}
.img-paper {
  background-image: url(asset_path("paper.png"));
}
.img-scissors {
  background-image: url(asset_path("scissors.png"));
}
.rimg-rock {
  background-image: url(asset_path("rockr.png"));
}
.rimg-paper {
  background-image: url(asset_path("paperr.png"));
}
.rimg-scissors {
  background-image: url(asset_path("scissorsr.png"));
}
// resulting
.competing{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.message-btn {
  border: 1px solid #ccc;
  background-color: #FF6949;
  color: #fff;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.message-btn p {
  font-size: 0.8rem;
}
.message-btn:hover {
  background-color: #9DD0FF;
}

.game-lost-won {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.play-again-btn {
  font-size: 1.8rem;
  font-weight: 200;
  color: #fff;
  background-color: #FF6949;
  border: 1px solid #723025;
  border-radius: 1rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
          box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  height: 50%;
}
.play-again-btn:hover {
  background-color: #9DD0FF;
}
.game-color-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-color-form h2 {
  text-align: center;
  font-size: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .rppt {
    display: none;
  }
  .bienvenido {
    font-size: 2rem;
  }
  .resulting-stuff p {
    font-size: 1rem;
  }
  .resulting-stuff strong {
    font-size: 1.2rem;
  }
  .game-color-form h2 {
    font-size: 1.6rem;
  }
}
