@import "mixins";

// PROYECTO
// children
.proyecto-unidad h4 {
  font-size: 2rem;
  margin: 0 !important;
  font-family: 'Source Code Pro', monospace
}
.proyecto-unidad .titulo-nombre {
  @include flex(8 8 80%);
  @include flexbox();
  @include justify-content(space-around);
  @include align-items(center);
}

.proyecto-unidad .container-logos {
  @include flex(2 2 20%);
  @include flexbox();
  @include justify-content(space-around);
  @include align-items(center);
}

.botones-container {
  @include flex(2 2 20%);
  @include flexbox();
  @include flex-direction(column);
  // height: 1.5rem; ojo no se puede hacer esto para arreglar los procoms
  @include justify-content(center);
}

.botones {
  @include flex(2 2 20%);
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  height: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}



.procom-status {
  @include flexbox();
  @include align-items(center);
  height: 1.5rem;
  padding: 1rem 0;
}
.procom-status i {
  margin-right: 10px;
  @include flex(5 5 50%);
}
.comment-btn {
  display: none;
  color: #8E864B;
}

.problem-btn {
  display: none;
  color: #F33745
}

.beware-btn {
  color: red;
}

.mini-btn {
  color: #6b6b6b;
}

.mini-botones {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  padding: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.mini-botones:hover {
  background: rgba(255, 238, 95, 0.2);
  color: #000;
}
.mini-botones:hover i {
  color: #9DD0FF;
}

.botones i {
  @include flex(1);
  text-align: center;
}

.btn-icon {
  cursor: pointer;
}

.btn-icon:hover {
  color: #9DD0FF;
}

.hide-buttons {
  display: none !important;
}



//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
