// GENERAL
.proyectos-section {
  height: 70vh;
  overflow-y: scroll;
}
.proyectos-section .fa {
  font-size: 1.2rem;
}
.descripciones-container .modalize {
  margin-left: 2rem;
  font-size: 2rem;
}
.modalize:hover {
  color: #9DD0FF;
  font-size: 2.3rem;
}

// PROYECTOS
.proyecto-unidad {
  padding: 1rem;
  background-color: #fff;
  margin: 0.6rem 3rem;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.principal {
  cursor: pointer;
}
// add stuff
// to override a style in descriptions
.admin-title .proyectos-title {
  -webkit-box-flex: 3;
      -ms-flex: 3 3 30%;
          flex: 3 3 30%;
}

.proyectos-section .tarjeta {
  margin: 0 3rem;
  margin-bottom: 1rem;
  border: 1px solid #767A86;
}
// edit stuff
.name-edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.name-edit-form select {
  margin-right: 5px;
}
.name-edit-form .browser-default {
  height: 2rem;
}
.name-edit {
  border-bottom: none !important;
  font-size: 2rem !important;
  font-weight: 100 !important;
  margin: 0 !important;
  height: 2rem !important;
  text-align: center;
  border-bottom: 1px dashed red !important;
}
.select-topic {
  width: 100px;
}
.select-difficulty {
  width: 100px;
}

// PROYECTO
// children
.proyecto-unidad h4 {
  font-size: 2rem;
  margin: 0 !important;
}
.proyecto-unidad .titulo-nombre {
  -webkit-box-flex: 8;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyecto-unidad .container-logos {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 20%;
          flex: 2 2 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.botones-container {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 20%;
          flex: 2 2 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  // height: 1.5rem; ojo no se puede hacer esto para arreglar los procoms
  justify-content: center;
}

.botones {
  -webkit-box-flex: 2;
      -ms-flex: 2 2 20%;
          flex: 2 2 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.mini-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #7b7b7b;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.botones i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.btn-icon:hover {
  color: #9DD0FF;
}
.hide-buttons {
  display: none !important;
}
// cambio color cuando se dice que es importante
.basic {
  background-color: #8E864B;
}
.medium {
  background-color: #ff6d00;
}
.advanced {
  background-color: #F33745;
}
.sayayin {
  background-color: #723025;
}
// los logos
.cont-log {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-size: 32px;
}
// web
.container-logos .programming {
  background-image: url(asset_path("thumb_web.png"));
}
.container-logos .html {
  background-image: url(asset_path("thumb_html.png"));
}
.container-logos .css {
  background-image: url(asset_path("thumb_css.png"));
}
// javascript logos
.container-logos .javascript {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .vanella {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .es6 {
  background-image: url(asset_path("thumb_es6.png"));
}
.container-logos .react {
  background-image: url(asset_path("thumb_react.png"));
}
.container-logos .redux {
  background-image: url(asset_path("thumb_redux.png"));
}
.container-logos .json {
  background-image: url(asset_path("thumb_json.png"));
}
// ruby on rails
.container-logos .ruby {
  background-image: url(asset_path("thumb_ruby.png"));
}
.container-logos .rails {
  background-image: url(asset_path("thumb_rails.png"));
}

.container-logos .adobe {
  background-image: url(asset_path("thumb_adobe.png"));
}
.container-logos .photoshop {
  background-image: url(asset_path("thumb_photoshop.jpg"));
}
.container-logos .illustrator {
  background-image: url(asset_path("thumb_illustrator.png"));
}
.container-logos .indesign {
  background-image: url(asset_path("thumb_indesign.png"));
}
.container-logos .afterfx {
  background-image: url(asset_path("thumb_afterfx.png"));
}
// git
.container-logos .git {
  background-image: url(asset_path("thumb_git.png"));
}
.container-logos .github {
  background-image: url(asset_path("thumb_github.png"));
}
// server
.container-logos .server {
  background-image: url(asset_path("thumb_server.png"));
}
.container-logos .digital_ocean {
  background-image: url(asset_path("thumb_digital_ocean.png"));
}
.container-logos .cloudinary {
  background-image: url(asset_path("thumb_cloudinary.png"));
}
.container-logos .nginx {
  background-image: url(asset_path("thumb_nginx.png"));
}
.container-logos .passenger {
  background-image: url(asset_path("thumb_passenger.png"));
}
.container-logos .postgresql {
  background-image: url(asset_path("thumb_postgresql.png"));
}
//sql
.container-logos .sql {
  background-image: url(asset_path("thumb_sql.png"));
}
// tridimax
.container-logos .tridimax {
  background-image: url(asset_path("thumb_tridimax.png"));
}
.container-logos .mental {
  background-image: url(asset_path("thumb_mental.png"));
}
.container-logos .vray {
  background-image: url(asset_path("thumb_vray.png"));
}
.container-logos .modeling {
  background-image: url(asset_path("thumb_modeling.png"));
}
.container-logos .texturing {
  background-image: url(asset_path("thumb_texturing.png"));
}
.container-logos .lighting {
  background-image: url(asset_path("thumb_lighting.png"));
}
.container-logos .animation {
  background-image: url(asset_path("thumb_animation.png"));
}
.container-logos .rigging {
  background-image: url(asset_path("thumb_rigging.png"));
}
.container-logos .post_production {
  background-image: url(asset_path("thumb_post_production.png"));
}
// zbrush
.container-logos .zbrush {
  background-image: url(asset_path("thumb_zbrush.png"));
}
// literatura
.container-logos .literature {
  background-image: url(asset_path("thumb_literatura.png"));
}
.container-logos .gramatica {
  background-image: url(asset_path("thumb_gramatica.png"));
}
.container-logos .estilo {
  background-image: url(asset_path("thumb_estilo.png"));
}
.container-logos .tecnicas_narrativas {
  background-image: url(asset_path("thumb_tecnicas_narrativas.png"));
}
// gastronomy
.container-logos .gastronomy {
  background-image: url(asset_path("thumb_gastronomy.png"));
}
.container-logos .drinks {
  background-image: url(asset_path("thumb_drinks.png"));
}
.container-logos .food {
  background-image: url(asset_path("thumb_food.png"));
}
.container-logos .desert {
  background-image: url(asset_path("thumb_desert.png"));
}
// otros
.container-logos .final_cut {
  background-image: url(asset_path("thumb_final_cut.png"));
}
.container-logos .architecture {
  background-image: url(asset_path("thumb_architecture.png"));
}
.container-logos .arts {
  background-image: url(asset_path("thumb_arts.png"));
}

// PASOS
// paso en proyecto
.pasos-container {
  border: 1px dashed rgba(0,0,0,0.1);
  border-radius: 1rem;
  margin: 0 3rem;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.paso-container {
  padding: 0.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

// ADD PASO IN PROYECTO
.modal-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-form .paso-container-form {
  width: 700px;
  min-width: 320px;
  max-height: 90vh;
}
.paso-container-form {
  margin: 0.5rem 3rem;
  background: rgba(0,0,0,0.1);
  // border: 2px solid #ccc;
  border: 4px solid #ff6d00;
  border-top-right-radius: calc(1rem + 2px);
  border-top-left-radius: calc(1rem + 2px);
  border-bottom-right-radius: calc(0.3rem + 2px);
  border-bottom-left-radius: calc(0.3rem + 2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.paso-container-form .paso-content-text{
  background: rgba(255,255,255,1);
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  padding: 0.5rem;
  margin-top: 0;
  border: none;
  border-top: 2px solid #ccc !important;
  max-height: calc(90vh - 3rem);
  overflow-y: scroll;
}

// second form
.paso-second-form {
  background: rgba(255,255,255,1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.paso-second-cont {
  -webkit-box-flex: 6;
      -ms-flex: 6 6 60%;
          flex: 6 6 60%;
  display: block;
}
.paso-second-step {
  // width: calc(100% - 2rem) !important;
  width: 100% !important;
  border-top: 1px dashed #ff6d00 !important;
  border-bottom: none !important;
  margin: 0 !important;
  min-height: 7rem !important;
  // padding: 0 1rem !important;
}
.paso-second-cont [type=file] {
  width: 100%;
  background: #ff6d00;
  color: #fff;
  padding: 0.5rem;
  height: 3rem;
}
.paso-second-form .image-preview {
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed #ff6d00;
}
.image-preview div {
  height: 100%;
}
.paso-second-image-cont .paso-second-image {
  width: 100%;
  height: 100%;

}
// PASO OPTION COMPONENT (THE OPTIONS)
.paso-option-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.paso-option-botones-form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1.5rem;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background: #fff;
}
.paso-option-botones-form i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.paso-option-botones-form .elegida {
  color: red;
}
.paso-option-botones-form i {
  color: #767A86;
}
.paso-option-botones-form .listo {
  color: green;
}
.paso-option-botones-form .pues-no {
  color: red;
}
.paso-option-botones-form i:hover {
  color: #9DD0FF;
}


// PASO EN PASO
.paso-content {
  -webkit-box-flex: 8;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
  font-family: 'Source Code Pro', monospace;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.paso-content .indent-me {
  visibility: hidden;
}

// paso type estilos!
.paso-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24px;
          flex: 1 1 24px;
  font-size: 0.8rem;
  margin-right: 6px;
  cursor: point;
}
.paso-content-text {
  margin-top: 4px;
  border: none!important;
  margin-right: 1rem !important;
  overflow: hidden;
}
// paso type terminal
.terminal .paso-type {
  color: red;
  position: relative;
  top: -5px;
}
.terminal .paso-content-text {
  background: #F9F9F9;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  color: red;
  padding: 8px;
}
// paso type go to
.go-to .paso-type {
  color: blue;
}
.go-to .paso-content-text {
  color: blue;
  font-weight: 400;
}
// paso type paragraph
.paragraph .paso-content-text {
  text-align: justify;
}
// paso type code
.codigo .paso-content-text {
  background: #F9F9F9;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  padding: 8px;
}
// paso type tutorial link
.link-tuto .paso-type {
  color: #0457A6;
}
.link-tuto .paso-content-text {
  background: rgba(4,87,166,0.3);
  border: 1px solid #0457A6 !important;
  border-radius: 0.6rem;
  font-size: 0.9rem;
  padding: 8px;
  color: #0457A6;
  font-weight: 600;
}
// paso type video
.link-video {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}
.video-link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.link-video .paso-content-text {
  text-align: center;
  height: 1.5rem !important;
  color: #0457A6;
}
.link-video .botones-container {
  width: 150px;
}
// paso type image
.link-image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.image-link {
  // width: 80%;
  height: 30rem;
  border: 1px solid #723025;
  border-radius: 1rem;
}
.link-image .paso-content {
  width: 70%;
}
.link-image .paso-content-text {
  height: 1.5rem !important;
  color: #723025;
}
.link-image .botones-container {
  width: 150px;
}





// EDIT PASO IN PASO
.paso-option-container {
  // border: 2px solid #ccc;
}

// PROCOMS
.procoms-container {
  background: rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.procom-container {
  margin: 0 3rem;
  // margin-bottom: 1rem;
  border-bottom: 1px dashed #8b8b8b;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
// here the icons (child 1)
.procom-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24px;
          flex: 1 1 24px;
  font-size: 0.8rem;
  margin-right: 6px;
}
.problema .procom-type {
  color: red;
}
.comentario .procom-type {
  color: #8E864B;
}
.ejemplo .procom-type {
  color: #A36E02;
}
// here the content (child 2)
.procom-content {
  -webkit-box-flex: 8;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
}
.procom-content-text {
  margin-top: 4px;
  border: none!important;
  margin-right: 1rem !important;
  overflow: hidden;
  border: none;
  margin-right: 10px;
}
.problema .procom-content-text {
  color: #2b2b2b;
}
.comentario .procom-content-text {
  color: #8E864B;
  text-align: justify;
}
.ejemplo .procom-content-text {
  background: #F9F9F9;
  border: 1px solid #D4D4D4 !important;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  color: #A36E02;
  padding: 8px;
}
.problema .mini-botones {
  background: rgba(243,55,69,0.4);
}
.comentario .mini-botones {
  background: rgba(142,134,75,0.4);
}
.ejemplo .mini-botones {
  background: rgba(163,110,2,0.4);
}
// here the buttons (child 3)
.procom-container .mini-botones {
  margin-left: 1rem;
}
.procom-container .mini-botones:hover {
  background: red;
}
.procom-container .mini-botones:hover i {
  font-size: 1.4rem;
}

.nothing-flash {
  text-align: center;
}
@media all and (max-width: 800px) {
  .descripciones-container {
    padding: 0;
  }
  .pasos-container {
    margin: 0 0.3rem;
    border: none;
  }
  .proyecto-unidad {
    margin: 0.6rem 0.1rem;
  }
  .titulo-nombre h4 {
    font-size: 1rem;
  }
  .cont-log {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  .name-edit-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .name-edit {
    margin-top: 10px !important;
    font-size: 1.2rem !important;
  }
  select.browser-default {
    width: 80px;
  }
}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
