// custom changes for paso options (when you do your own font-awesome)
.fo-titulo {
  font-size: 1.4rem;
  font-style: normal;
}

// cambio color cuando se dice que es importante
.basic {
  background-color: #8E864B;
}
.medium {
  background-color: #ff6d00;
}
.advanced {
  background-color: #F33745;
}
.sayayin {
  background-color: #723025;
}

// los logos
.cont-log {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

// programming
.container-logos .programming {
  background-image: url(asset_path("thumb_programming.png"));
}
.container-logos .html {
  background-image: url(asset_path("thumb_html.png"));
}
.container-logos .css {
  background-image: url(asset_path("thumb_css.png"));
}
.container-logos .atom {
  background-image: url(asset_path("thumb_atom.png"));
}
.container-logos .command_line {
  background-image: url(asset_path("thumb_command_line.png"));
}
// javascript logos
.container-logos .javascript {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .vanella {
  background-image: url(asset_path("thumb_javascript.png"));
}
.container-logos .es6 {
  background-image: url(asset_path("thumb_es6.png"));
}
.container-logos .react {
  background-image: url(asset_path("thumb_react.png"));
}
.container-logos .redux {
  background-image: url(asset_path("thumb_redux.png"));
}
.container-logos .json {
  background-image: url(asset_path("thumb_json.png"));
}
// ruby on rails
.container-logos .ruby {
  background-image: url(asset_path("thumb_ruby.png"));
}
.container-logos .rails {
  background-image: url(asset_path("thumb_rails.png"));
}

.container-logos .adobe {
  background-image: url(asset_path("thumb_adobe.png"));
}
.container-logos .photoshop {
  background-image: url(asset_path("thumb_photoshop.jpg"));
}
.container-logos .illustrator {
  background-image: url(asset_path("thumb_illustrator.png"));
}
.container-logos .indesign {
  background-image: url(asset_path("thumb_indesign.png"));
}
.container-logos .afterfx {
  background-image: url(asset_path("thumb_afterfx.png"));
}
// git
.container-logos .git {
  background-image: url(asset_path("thumb_git.png"));
}
.container-logos .github {
  background-image: url(asset_path("thumb_github.png"));
}
// server
.container-logos .server {
  background-image: url(asset_path("thumb_server.png"));
}
.container-logos .digital_ocean {
  background-image: url(asset_path("thumb_digital_ocean.png"));
}
.container-logos .cloudinary {
  background-image: url(asset_path("thumb_cloudinary.png"));
}
.container-logos .nginx {
  background-image: url(asset_path("thumb_nginx.png"));
}
.container-logos .passenger {
  background-image: url(asset_path("thumb_passenger.png"));
}
.container-logos .postgresql {
  background-image: url(asset_path("thumb_postgresql.png"));
}
//sql
.container-logos .sql {
  background-image: url(asset_path("thumb_sql.png"));
}
// tridimax
.container-logos .tridimax {
  background-image: url(asset_path("thumb_tridimax.png"));
}
.container-logos .mental {
  background-image: url(asset_path("thumb_mental.png"));
}
.container-logos .vray {
  background-image: url(asset_path("thumb_vray.png"));
}
.container-logos .modeling {
  background-image: url(asset_path("thumb_modeling.png"));
}
.container-logos .texturing {
  background-image: url(asset_path("thumb_texturing.png"));
}
.container-logos .lighting {
  background-image: url(asset_path("thumb_lighting.png"));
}
.container-logos .animation {
  background-image: url(asset_path("thumb_animation.png"));
}
.container-logos .rigging {
  background-image: url(asset_path("thumb_rigging.png"));
}
.container-logos .post_production {
  background-image: url(asset_path("thumb_post_production.png"));
}
// zbrush
.container-logos .zbrush {
  background-image: url(asset_path("thumb_zbrush.png"));
}
// literatura
.container-logos .literature {
  background-image: url(asset_path("thumb_literatura.png"));
}
.container-logos .gramatica {
  background-image: url(asset_path("thumb_gramatica.png"));
}
.container-logos .estilo {
  background-image: url(asset_path("thumb_estilo.png"));
}
.container-logos .tecnicas_narrativas {
  background-image: url(asset_path("thumb_tecnicas_narrativas.png"));
}
// gastronomy
.container-logos .gastronomy {
  background-image: url(asset_path("thumb_gastronomy.png"));
}
.container-logos .drinks {
  background-image: url(asset_path("thumb_drinks.png"));
}
.container-logos .food {
  background-image: url(asset_path("thumb_food.png"));
}
.container-logos .desert {
  background-image: url(asset_path("thumb_desert.png"));
}
// ideas
.container-logos .ideas {
  background-image: url(asset_path("bombillo_icon_II.png"));
}
// otros
.container-logos .others {
  background-image: url(asset_path("thumb_others.png"));
}
.container-logos .final_cut {
  background-image: url(asset_path("thumb_final_cut.png"));
}
.container-logos .architecture {
  background-image: url(asset_path("thumb_architecture.png"));
}
.container-logos .arts {
  background-image: url(asset_path("thumb_arts.png"));
}
.container-logos .collumino {
  background-image: url(asset_path("thumb_collumino.png"));
}

@media all and (max-width: 800px) {
  .titulo-nombre h4 {
    font-size: 1rem;
  }
  .cont-log {
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
  .name-edit-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .name-edit {
    margin-top: 10px !important;
    font-size: 1.2rem !important;
  }
  select.browser-default {
    width: 80px;
  }
}
//iphone 3 y 4
@media all and (max-width: 380px) {

}
@media all and (max-width: 992px) {

}
