
.hamburger {
  background-image: url(asset_path("hamburger.svg"));
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  width: 40px !important;
  height: 40px !important;
}

.hamburger:hover {
  background-image: url(asset_path("hamburger_h.svg"));
}

.card {
	margin: 3rem auto !important;
}
.card-reveal {
  margin-top: 3rem;
  padding: 20px;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.card-content {
	height: 100px;
}
.card .carousel {
  max-width: auto;
  min-height: 550px	!important;
}
.next {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url(asset_path("right.svg"));
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 80px;
	z-index: 1000 !important;
}
.next:hover {
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(asset_path("right_o.svg"));
	transform: scale(1.1);
}
.prev {
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(asset_path("left.svg"));
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 80px;
	z-index: 1000 !important;
}
.prev:hover {
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url(asset_path("left_o.svg"));
	transform: scale(1.1);
}
.letter {
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	bottom: 0;
	z-index: 900;
	display: none;
	pointer-events:none;
}

.carousel #D1, #D2, #D3, #D4, #D5, #D6, #D7, #D8, #D9, #D10,
          #D11, #D12, #D13, #D14, #D15, #D16, #D17, #D18, #D19, #D20,
          #D21, #D22, #D23, #D24, #D25, #D26, #D27, #D28, #D29, #D30
          {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
