.translate {
  // padding: 10px 30px 30px 30px !important;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
}
.translate .admin-title {
  flex: 0 0 100%;
}
.translate h5 {
  margin-bottom: 30px;
}

.translate .input-container,
.translate .answer-container {
  flex: 1 1 50%;
}

.translate .input {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 150px;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 90%;
}

.translate .answer {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 150px;
  margin-top: 20px;
  background: #fff;
}
.translate .answer p {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #555;
  margin: 0;
}

.translate button {
  color: #555;
}

.translate .translate-buttons {
  display: flex;
}

.clicked {
  color:#8e864b !important;
}

.translate .btn-name {
  padding: 10px 20px;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

.translate .btn-name:hover {
  color: #8e864b;
}

.translate .btn-translate {
  background-color: #723025;
}

.morse-output {
  font-size: 2rem;
}

@media all and (min-width: 1100px) and (max-width: 1300px) {
  .translate .btn {
    font-size: 12px !important;
    padding: auto 15px;
    margin: 5px;
  }
}

@media all and (min-width: 900px) and (max-width: 1099px) {
  .translate .btn {
    font-size: 10px !important;
    padding: auto 1rem !important;
    margin: 2px !important;
  }

}

@media all and (max-width: 899px) {
  .translate .btn {
    margin: 2px !important;
  }

  .translate .btn-name {
    visibility: hidden;
  }

  .translate .btn-lang, .btn-lang2, .btn-translate {
    padding: 0 !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-size: 40px;
  }

  .translate .esp {
    background-image: url(asset_path("esp.svg"));
  }
  .translate .eng {
    background-image: url(asset_path("eng.svg"));
  }
  .translate .deu {
    background-image: url(asset_path("deu.svg"));
  }
  .translate .rus {
    background-image: url(asset_path("rus.svg"));
  }
  .translate .cir {
    background-image: url(asset_path("cir.svg"));
  }
  .translate .rom {
    background-image: url(asset_path("rom.svg"));
  }
  .translate .mor {
    background-image: url(asset_path("mor.svg"));
  }
  .translate .btn-translate {
    background-image: url(asset_path("go.svg"));
  }
  .translate .esp:hover {
    background-image: url(asset_path("esp_o.svg"));
  }
  .translate .eng:hover {
    background-image: url(asset_path("eng_o.svg"));
  }
  .translate .deu:hover {
    background-image: url(asset_path("deu_o.svg"));
  }
  .translate .cir:hover {
    background-image: url(asset_path("cir_o.svg"));
  }
  .translate .rom:hover {
    background-image: url(asset_path("rom_o.svg"));
  }
  .translate .mor:hover {
    background-image: url(asset_path("mor_o.svg"));
  }
  .translate .btn-translate:hover {
    background-image: url(asset_path("go_o.svg"));
  }

}
